<ul>
@foreach(var pingString in Model)
{
  <li>@pingString</li>
}
</ul>









<hr>
<a href="/">Enter another number</a>




<!--ln02 - pingString is a placeholder word that represents every element in
the list. Model represents the List (pingPongList)-->
