<!DOCTYPE html>
<html>
  <head>
    <title>index-page</title>
  </head>
  <body>
    <form action="/PingPong/PingPongResults" method="post">
      <label>Enter a number:</label>
      <input id="input-number" type="number" name="input-number">
      <button type="submit" name="button">Submission!</button>
    </form>
  </body>
</html>
